body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #0059ff, #000000);
    height: 100vh;
    margin: 0;
    color: aliceblue; /* Color de texto por defecto */
}

.contenedor {
    width: 100%;
    text-align: center;
    padding: 10px 40px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2rem; /* Aumentar el tamaño del texto */
    line-height: 1.2;
}

.image-container {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 19.5cm; /* Limita la altura máxima */
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
    padding: 12px 28px;
    font-size: 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: #0056b3;
}

.div-btn {
    padding-top: 30px;
}
